{% extends "photos/base.html" %}

{% block content %}

<h1 class="text-center text-dark">No Page found</h1>


<div class="d-flex flex-column justify-content-center align-items-center"
    style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); ; background-color: #4E576F; border-radius: 16px; color: wheat; width: fit-content; ">
    <p class="text-center text-white pt-3 px-3">
        It's a 404 error in Photobooth land! The page you wanted seems to be having a digital hide-and-seek game
    </p>
</div>


{% endblock content %}