{% extends "photos/base.html" %}

{% block content %}
<div class="d-flex mt-5  justify-content-center align-items-center  w100">

    <form class="form_container" style="background-color: #4E576F; width: 30%; height:fit-content;" method="post"
        enctype="multipart/form-data">
        <h2 class="text-dark ">Edit Profile</h2>
        {% csrf_token %}
        <div class="pfp"
            style="width: 150px; height:150px; overflow: hidden; border-radius: 999px; background-color: #99D1C9;">
            {% if request.user.pfp.url is not None %}
            <img class="rounded user-pfp" id="edit-pfp-img" alt="X" src="{{request.user.pfp.url}}"
                style="width: 100%; height: 100%; object-fit: cover;object-position: center;">
            {%else%}
            <img class="rounded user-pfp2" id="edit-pfp-img" alt="X" src="https://api.dicebear.com/7.x/adventurer/svg?skinColor=9e5622,763900,ecad80&seed={{request.user.username}}&"
                style="width: 100%; height: 100%; object-fit: cover;object-position: center;">
            {%endif%}
        </div>

        <div class="title_container">
            <h3 id="fullname" class="text-white">{{request.user.get_full_name}}</h3>
            <h6 id= 'user-name' style="color: #FED17E;">@{{request.user.username}}</h6>
        </div>
        <div class="input_container">
            <label class="input_label" for="username_field">Change PFP </label>
            <input class="changepfp" autocomplete="off" placeholder="Profile" title="pfp" name="pfp" type="file" value="{{request.user.pfp.url}}">
        </div>

        <div class="input_container">
            <label class="input_label" for="username_field">Name </label>
            <input autocomplete="off" title="name" name="puraname" type="text" class="input_field" id="name_field"
                required style="background-color: #C1CAE3; color: black;" value="{{ request.user.get_full_name }}">
        </div>
        <div class="input_container">
            <label class="input_label" for="password_field">Bio</label>
            <textarea name="bio" placeholder="Bio here..." id="" cols="30" rows="3"
                style="background-color: #C1CAE3; color: black; border-radius: 8px; border: 1px solid black;">{{request.user.user_bio}}</textarea>
        </div>

        <div class="d-flex justify-content-evenly align-items-center  w-100  ">
            <button title="Sign In" type="submit" class="edit-btn btn"
                style="background-color: #99D1C9; color: black; width: 20%;">
                <span>Edit</span>
            </button>
            <a href="{%url 'global'%}" class="btn btn-dark w-20">
                <span>Cancel</span>
            </a>
        </div>

        <div class="separator">
            <hr class="line">
            <span>Or</span>
            <hr class="line">
        </div>
        <div class="d-flex justify-content-center align-items-center  w-100  ">
            <span class="text-white text-center me-5 "> Good bye?
            </span>
            <a class="btn btn-danger pt-2" href="{% url 'profile_delete' %}"><span>Delete Account</span></a>
        </div>


    </form>

</div>
<script>

    // This updates the avatar
    const fileInput = document.querySelector('.changepfp');

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        const image = document.querySelector('#edit-pfp-img');

        if (file && file.type.includes('image')) {
            const url = URL.createObjectURL(file);
            image.src = url;
        }
    });

    // This updates the name
    const realnameInput = document.getElementById('name_field');
    const realnameOutput = document.getElementById('fullname');

    realnameInput.addEventListener('input', (event) => {
        realnameOutput.innerText = event.target.value;
    });

</script>
{% endblock content %}