{% extends "photos/base.html" %}

{% block content %}

<h1 class="text-center text-dark">Password Reset</h1>
<p class="text-center ">Forgotten your Password? Enter your email address below and we'll email instructions
    for setting a new one.</p>
<div class="container d-flex justify-content-center align-items center w-100 mt-5 ">
    <form method='POST' class="form_container" style=" width: 30%; height:fit-content;">
        {% csrf_token %}
        <h5 class="text-center ">Enter your email</h5>
        <div class="input_container ">
           {{form.email.label_tag}}
           {{form.email}}
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>

{% endblock content %}