{% extends "photos/base.html" %}

{% block content %}

<h1 class="text-center text-dark">Password Reset Sent</h1>


<div class="d-flex flex-column justify-content-center align-items-center"
    style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); ; background-color: #4E576F; border-radius: 16px; color: wheat; width: fit-content; ">
    <p class="text-center text-white pt-3 px-3">
        We've emailed you instructions for setting your password, if an account
            existes with email you entered. You should receive them shortly.
            If you dont receive and email , please make sure you've entered registered email and check your spam folder.
    </p>
    <a class="btn btn-primary my-2 p-2" target="_blank" href="https://mail.google.com/mail/u/">Open Gmail</a>
</div>

{% endblock content %}