{% extends "photos/base.html" %}
{% block content %}
<h1 class="text-center text-danger">Delete Account</h1>
<p class="text-center text-white">Are you sure you want to delete your account?</p>
<div class="container d-flex justify-content-center align-items center">
    <form method='POST'>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, I want to delete my account</button>
        <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
    </form>
</div>

{% endblock %}