{% extends "photos/base.html" %}
{%load static%}
{% block global %}
<div class="box d-flex justify-content-start align-items-center flex-column mt-2"
    style="height: fit-content; width: 100%;">
    {% if error %}
    <h1>No Username found</h1>
    {%else%}
    <div class="view-profile d-flex justify-content-center align-items-center flex-column p-4"
        style="border-radius: 16px; height: 50%; width: 80%; ">
        <div class="d-flex user d-flex justify-content-center align-items-center flex-column h-80">
            <div class="pfp "
                style="width: 150px; height:150px; overflow: hidden; border-radius: 999px; ">

                {% if profile.pfp.url is not None %}
                <img class="rounded user-pfp " alt="X" src="{{profile.pfp.url}}"
                    style="width: 100%; height: 100%; object-fit: cover;object-position: center;">
                {%else%}
                <img class="rounded user-pfp2" alt="X"
                    src="https://api.dicebear.com/7.x/adventurer/svg?skinColor=9e5622,763900,ecad80&seed={{profile.username}}&"
                    style="width: 100%; height: 100%; object-fit: cover;object-position: center;">
                {%endif%}
            </div>

            <div>
                <h1 class="Firstname">{{profile.get_full_name}}</h1>
            </div>
            <div class=" d-flex justify-content-center align-items-center">
                <h6 class='username' style="color: #FED17E;">@{{profile.username}}</h6>
                {% if profile.is_verified %}
                <img src="{% static 'photos/icons/badge-verified.svg' %}" alt="X" title="verified"
                    style="width: 25px;height: 25px;">
                {%endif %}
            </div>

        </div>
        <div class="userBIO h-20  w-100 d-flex justify-content-start flex-column align-items-center">
            <div class="userbio p-3 justify-content-start  d-flex w-100">
                <strong class="pe-2">Bio: </strong>
                <p>{{profile.user_bio}}</p>
            </div>

        </div>

        <div class="d-flex justify-content-end align-items-center  ">
            {%if profile.username == request.user.username %}
            <a class=" " href="{% url 'edit_profile' %}">Edit profile <i class="mx-2 fa fa-pen fa-xl"
                     aria-hidden="true"></i></a>
            {%endif%}
        </div>
    </div>

</div>
<div class="options mt-2 d-flex justify-content-evenly align-items-center w-100">
    <a href="{% url 'view_profile' profile.username %}?filter=global-posts"
       class="optionBtn m-2 {% if request.GET.filter == 'global-posts' or not request.GET.filter  %}active{% endif %}">
        {{ profile.username }}'s Global Posts <i class="fa-solid fa-globe fa-sm" ></i>
    </a>

    {% if profile.username == request.user.username %}
    <a href="{% url 'view_profile' profile.username %}?filter=private-posts"
       class="optionBtn m-2 {% if request.GET.filter == 'private-posts' %}active{% endif %}">
        Your Private Posts <i class="fa-solid fa-lock fa-sm" ></i>
    </a>

    <a href="{% url 'view_profile' profile.username %}?filter=liked-posts"
       class="optionBtn m-2 {% if request.GET.filter == 'liked-posts' %}active{% endif %}">
        Your Liked Posts <i class="fa-solid fa-heart fa-sm" ></i>
    </a>

    <a href="{% url 'view_profile' profile.username %}?filter=commented-posts"
       class="optionBtn m-2 {% if request.GET.filter == 'commented-posts' %}active{% endif %}">
        Your Commented Posts <i class="fa-solid fa-comment fa-sm" ></i>
    </a>
    {% endif %}
</div>



<div class="posts h-100 w-100">
    <div class="row  my-2 global-papa w-100 mx-auto " data-masonry='{"percentPosition": true }'
        style="margin-left: -0.5rem; margin-right: -0.5rem;"> {% for photo in photos %}
        {% if photo.publicAccess or profile.username == request.user.username %}
        <a class="col-6 col-sm-4 col-md-3 col-lg-2 my-2  global-item" href="{% url 'photo' photo.id %}"
            hx-boost="fadeIn">
            <div class="card ">
                <img src="{{photo.image.url}}" class="card-img-top" alt="...">
                <div class="overlay d-flex justify-content-around align-items-center flex-column"
                    style="background: rgba(0, 0, 0, 0.4);">
                    <div class="d-flex justify-content-around align-items-center w-100">
                        <h6 class="card-title w-50">{{ photo.category }}</h6>
                        <div class="d-flex justify-content-center align-items-center w-50">
                            <i class="px-2 fa-solid fa-heart" style="color: #ff0000;"></i>
                            <span>{{photo.likes.count}}</span>
                        </div>
                    </div>
                    
                   
                </div>
            </div>
        </a>
        {% endif %}
        {% empty %}
        <h3>No Photos yet..</h3>
        {% endfor%}
    </div>
</div>
{%endif %}


</div>
{% endblock global %}