{% load static %}
{% load user_agents %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Photo Booth</title>

    <link rel="icon" href="{% static 'photos/icons/gallery_logo_png.png' %}" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/login_register.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>


    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.6/htmx.min.js"
        integrity="sha512-tGWc4YBM6ag1pJndcieiU2r+lJXdzBRk70mHE13JoGeZI/QdWQkQ6q1CL1xYdJtTOfARf5oPcxJCnS6bLaM+KA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/main.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'photos/css/newcard.css' %}">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script defer src="https://kit.fontawesome.com/a9fb673aff.js" crossorigin="anonymous"></script>
    <style>
        :root {
            --bg-color: #181818;
            --card-bg: #282828;
            --text-color: #EAEAEA;
            --accent-color: #4E576F;

            /* Dark Mode Navbar & Sidebar */
            --navbar-bg: rgb(30, 33, 45);
            --box-bg: rgba(30, 33, 45, 0.5);
            --navbar-text: #EAEAEA;
            --sidebar-bg: #1E212D;
            --sidebar-border: #444444;
        }

        [data-theme="light"] {
            --bg-color: #FFFFFF;
            --card-bg: #F8F9FA;
            --text-color: #212529;
            --accent-color: #4E576F;
            --box-bg: rgba(153, 209, 201, 0.5);

            /* Navbar & Sidebar */
            --navbar-bg: #99d1c9;
            /* Original navbar color */
            --navbar-text: #212529;
            --sidebar-bg: #99D1C9;
            /* Original sidebar color */
            --sidebar-border: rgb(0, 0, 0, 0.4);
        }


        body {
            /*background:url("{% static 'photos/icons/bg-grad-0deg.png' %}");
            background-size: auto;
            background-repeat: repeat;
            overflow-x: hidden; */
            background-color: var(--bg-color);
            color: var(--text-color);
        }



        input:focus {
            outline: none !important;
        }

        input::placeholder {
            color: black !important;
        }


        .login-btn {
            text-decoration: none !important;
            text-align: center;
            margin-top: auto;
            width: 100%;
            height: 40px;
            border: none;
            background: #212529;
            border-radius: 7px;
            outline: none;
            color: #ffffff;
            cursor: pointer;
        }

        .active-link {
            font-weight: bold;
            color: var(--bg-color);
            /* Change to your desired active link color */
        }

        .room {
            height: 100%;
            width: 100%;
        }

        .middle {

            width: 100%;
        }

        a {
            text-decoration: none !important;
        }


        button.like-button:hover,
        button.comment-button:hover,
        button.share-button:hover,
        button.save-button:hover {
            transform: scale(1.5) !important;
        }


        .global-item {
            animation: fadeIn 1s ease-in;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
</head>

<body>

    <div class="modal fade" id="delImageModal" tabindex="-1" aria-labelledby="delImageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delImageModalLabel">Delete Following images</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body del-model">

                </div>
                <script>
                    function handleImageInfo() {
                        var modal = document.querySelector('.del-model')
                        var listItems = document.querySelectorAll('#photo-detail');
                        if (listItems.length == 0) {
                            modal.innerHTML = "<h5>" + 'No photos to delete' + "</h5>";
                            return;
                        }
                        var newLi = '';
                        newLi += '<ul>'
                        var count = 0;
                        listItems.forEach(element => {
                            count++;
                            const spanElement = element.querySelector('.photo-name');
                            if (spanElement)
                                newLi += '<div>' + spanElement.textContent + '</div>';
                        });
                        newLi += '</ul>'
                        if (count >= 20) {
                            modal.innerHTML = `Are you sure you want to delete ${count} photos?`
                        } else {
                            modal.innerHTML = newLi;
                        }
                    }
                </script>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="handleDeleteImages()" class="btn btn-danger">Delete</button>
                </div>

                <script>
                    function handleDeleteImages() {
                        const selectedPhotos = document.querySelectorAll('#photo-detail');
                        const photoIDs = [];

                        // Ensure that photoIDs array contains valid IDs and remove any empty or invalid values
                        selectedPhotos.forEach(photo => {
                            const id = photo.dataset.id;
                            if (id) {
                                photoIDs.push(id);
                            }
                        });

                        // Check if there are valid photo IDs to delete
                        if (photoIDs.length === 0) {
                            alert('No photos selected for deletion.');
                            return;
                        }

                        const xhr = new XMLHttpRequest();
                        const url = `delete_images?photo_ids=${photoIDs.join(',')}`;
                        xhr.open('DELETE', url);

                        // Get the CSRF token from a function, assuming you have a function to retrieve it
                        const csrfToken = getCSRFToken(); // You need to define the getCSRFToken function

                        // Add the CSRF token to the request headers
                        xhr.setRequestHeader('X-CSRFToken', csrfToken);
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.send();

                        xhr.onload = function () {
                            if (xhr.status === 200) {
                                // The photos were deleted successfully
                                // Refresh the page to display the updated list of photos
                                location.reload();
                            } else {
                                // An error occurred while deleting the photos
                                // Display an error message to the user
                                alert('An error occurred while deleting the photos. Please try again later.');
                            }
                        };
                    }


                    function getCSRFToken() {
                        const cookieName = 'csrftoken';
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            if (cookie.startsWith(cookieName + '=')) {
                                return cookie.substring(cookieName.length + 1);
                            }
                        }
                        return null; // If the cookie is not found
                    }

                </script>
            </div>
        </div>
    </div>




    <div class="root">
        <div class="user-name" style="display: none;">{{request.user}}</div>
        <div class="left">
            {% if request.resolver_match.url_name == 'gallery' %}
            <div class="room">
                {% block middle %}
                {% endblock middle %}
            </div>
            {% elif request.resolver_match.url_name == 'global' or request.resolver_match.url_name == 'view_profile' %}
            <div class="room">
                {% block global %}
                {% endblock global %}
            </div>
            {% else %}
            {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
            <div class="container-fluid global-photo mt-2" style="width: 100%; background-size: auto;">
                {% else %}
                <div class="container-fluid global-photo mt-2"
                    style="height: 87vh; width: 100%; background-size: auto;">
                    {% endif %}
                    <a style="color: var(--text-color);"  href="{% url 'global' %}"><i class="fa-solid fa-backward fa-lg ms-2"></i> back</a>
                    {% block content %}
                    {% endblock content %}
                </div>
                {% endif %}
            </div>
            <div class="right">
                <div class="d-flex flex-column justify-content-between align-items-center h-100 w-100">
                    <div class="d-flex flex-column justify-content-around align-items-center w-100"
                        style="height: 40%;">
                        <div class="item d-flex align-items-center justify-content-center" data-tooltip="Home">
                            <a href="{% url 'global' %}">
                                <img class="logo d-flex justify-content-center align-items-center"
                                    src="{% static 'photos/icons/gallery_logo_svg.svg' %}" alt="X" />
                                <!-- <strong style="color:#FED17E">Photo</strong> <strong style="color: #99D1C9;">Booth</strong> -->
                            </a>
                        </div>
                        <div class="item d-flex align-items-center justify-content-center" data-tooltip="Gallery">
                            <a class="nav-link {% if request.resolver_match.url_name == 'gallery' %}active-link{% endif %}"
                                href="{% url 'gallery' %}">
                                <div class="d-flex align-items-center justify-content-start">
                                    <i class="fas fa-home fa-xl mb-1 me-2"></i>
                                </div>
                            </a>
                        </div>
                        <div class="item d-flex align-items-center justify-content-center" data-tooltip="Global">
                            <a class="nav-link {% if request.resolver_match.url_name == 'global' %}active-link{% endif %}"
                                href="{% url 'global' %}">
                                <div class="d-flex align-items-center justify-content-start">
                                    <i class="fas fa-globe-americas fa-xl  mb-1 me-2"></i>
                                    <!-- <span class="badge rounded-pill badge-notification bg-success"></span> -->
                                </div>
                            </a>
                        </div>
                        <div class="item d-flex align-items-center justify-content-center" data-tooltip="Add">
                            <a class="nav-link {% if request.resolver_match.url_name == 'add' %}active-link{% endif %}"
                                href="{% url 'add' %}">
                                <div class="d-flex align-items-center justify-content-start">
                                    <i class="fas fa-plus fa-xl mb-1 me-2"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center w-100"
                        style="height: 20%;">
                        {% if request.user.is_active %}

                        <div class="item dropstart d-flex justify-content-center align-items-center image-pfp "
                            data-tooltip="User">

                            <div class="logo" type="button" style="overflow: hidden; border-radius: 50%; " type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {% if request.user.pfp.url is not None %}
                                <img class="rounded user-pfp" alt="X" src="{{ request.user.pfp.url }}"
                                    style="width: 100%; height: 100%; object-fit: cover;object-position: center;" />
                                {% else %}
                                <img class="rounded base-pfp" alt="X"
                                    style="width: 100%; height: 100%; object-fit: cover;object-position: center;" />
                                {% endif %}
                            </div>

                            <ul class="dropdown-menu">
                                <div>
                                    <button class="dropdown-item" onclick="toggleTheme()">
                                        <i class="fa fa-palette" aria-hidden="true"></i> &nbsp;Toggle theme </button>

                                </div>
                                <div>
                                    <a class="dropdown-item" href="{% url 'view_profile' request.user.username %}"><i
                                            class="fa fa-user" aria-hidden="true"></i>&nbsp;Profile</a>
                                </div>
                                <div>
                                    <a class="dropdown-item" href="{% url 'edit_profile' %}"><i class="fa fa-pen"
                                            aria-hidden="true"></i>&nbsp;Edit profile</a>
                                </div>
                                <div>
                                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"
                                            aria-hidden="true"></i>&nbsp;Log out</a>
                                </div>
                            </ul>
                            {% else %}
                            <div class="item my-2 d-flex align-items-center justify-content-center" data-tooltip="Login">
                                <a class="nav-link" href="{% url 'login' %}">
                                    <i class="fa fa-sign-in fa-xl" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="item my-2 d-flex align-items-center justify-content-center" data-tooltip="Register">
                                <a class="nav-link" href="{% url 'register' %}">
                                    <i class="fa fa-user-plus fa-xl" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>

                    </div>

                </div>

            </div>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
            async></script>

        <script>
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                var navHeight = $('.navbar').height();
                if (scroll >= navHeight) {
                    $('.search-ham').addClass('sticky-background');
                    $('.searchdiv').addClass('sticky-background');
                } else {
                    $('.search-ham').removeClass('sticky-background');
                    $('.searchdiv').removeClass('sticky-background');
                }
            });
        </script>
        <script>
            var currentURL = window.location.href;
            var block = document.querySelector('.global-photo');
            if (currentURL.includes('/mobile_photo/')) {
                block.style.height = "inherit";

            }
            if (currentURL.includes('/edit/') || currentURL.includes('/add/') || currentURL.includes('/photo/')) {
                document.querySelector('.top').style.display = "none";
            }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var deviceWidth = window.innerWidth;
                var top = document.querySelector('.top')
                console.log(document.body.clientHeight, window.innerHeight)

                if (document.body.clientHeight <= window.innerHeight) {
                    if (top) top.style.display = "none";
                }

            });

        </script>
        <script>

            let checkboxes, selectAllButton, selectedPhotosInfo = null;

            function updateSelectedPhotosInfo() {
                var selectedPhotos = [];

                checkboxes.forEach(function (checkbox) {
                    if (checkbox.checked) {
                        var card = checkbox.closest(".card");
                        var category = card.querySelector(".card-title").textContent.trim();
                        var id = card.querySelector(".photo-id").getAttribute("data-id");
                        selectedPhotos.push({ id: id, category: category, });
                    }
                });

                if (selectedPhotos.length > 0) {
                    var infoHtml = "<ul class='list-group  mt-2'>";
                    selectedPhotos.forEach(function (photo) {
                        infoHtml += "<div id='photo-detail' data-id=" + photo.id + " class='list-group-item  d-flex justify-content-between align-items-center'>" + '<span class="photo-name">' + photo.category + '</span>' +

                            '<span> ' + " pid: " + photo.id +
                            '</span>' + "</div>";
                    });
                    infoHtml += "</ul>";
                    selectedPhotosInfo.innerHTML = infoHtml;
                } else {
                    selectedPhotosInfo.innerHTML = ""; // Clear the container if no photos are selected
                }
            }

            function initializeScript() {


                const username = document.querySelector('.user-name').textContent;
                const userPFPSource = document.querySelector('.base-pfp');
                if (userPFPSource !== null) userPFPSource.src = `https://api.dicebear.com/7.x/adventurer/svg?skinColor=9e5622,763900,ecad80&seed=${username}&`;

                selectAllButton = document.getElementById("selectAllButton");
                checkboxes = document.querySelectorAll("input[type='checkbox");
                selectedPhotosInfo = document.getElementById("selectedPhotosInfo");

                if (selectAllButton !== null) {
                    selectAllButton.addEventListener("click", function () {
                        const areAllChecked = Array.from(checkboxes).every((checkbox) => checkbox.checked);

                        checkboxes.forEach((checkbox) => {
                            checkbox.checked = !areAllChecked;
                        });

                        selectAllButton.innerHTML = areAllChecked ? "<i class='fa fa-check'></i>" : "<i class='fa fa-xmark'></i>";
                        updateSelectedPhotosInfo();
                    });
                }
                checkboxes.forEach(function (checkbox) {
                    checkbox.addEventListener("change", function () {
                        updateSelectedPhotosInfo();
                    });
                });
            }

            document.addEventListener('DOMContentLoaded', initializeScript);

            document.addEventListener('htmx:afterOnLoad', function (event) {
                selectAllButton = document.getElementById("selectAllButton");
                checkboxes = document.querySelectorAll("input[type='checkbox");
                selectedPhotosInfo = document.getElementById("selectedPhotosInfo");
            });

        </script>
        <script>
            function openRightNav() {
                document.getElementById("rightSideNav").style.width = "300px";
            }

            function closeRightNav() {
                document.getElementById("rightSideNav").style.width = "0";
            }
        </script>
    </div>

    <script>
        function openLeftNav() {
            document.getElementById("mySidenav").style.width = "300px";
        }

        function closeLeftNav() {
            document.getElementById("mySidenav").style.width = "0";
        }   
    </script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var grid = document.querySelector(".row[data-masonry]");
            const savedTheme = localStorage.getItem("theme") || "dark";
            document.documentElement.setAttribute("data-theme", savedTheme);
            if (grid) {
                imagesLoaded(grid, function () {
                    var masonryInstance = new Masonry(grid, {
                        percentPosition: true
                    });
                    masonryInstance.layout(); // Force Masonry to correctly align images
                });
            }
        });
        function toggleTheme() {
            const currentTheme = document.documentElement.getAttribute("data-theme");
            const newTheme = currentTheme === "dark" ? "light" : "dark";
            document.documentElement.setAttribute("data-theme", newTheme);
            localStorage.setItem("theme", newTheme);
        }
    </script>





</body>

</html>