{% extends "base.html" %}
{% load cloudinary_filters %}


{% block global %}
{%load static%}

<div class="global-search-ham py-2  d-flex justify-content-center align-items-center">
    <div class="searchdiv d-flex justify-content-center align-items-center flex-column w-100">
        <form action="" class="global-search  d-flex mx-2" method="get">
            <input class="form-control mr-smy-2 me-3" type="text"
                style="outline: none;"
                placeholder="Search by category, description or username" aria-label="Search" name="searchImage"
                autocomplete="off" value="{{ request.GET.searchImage|default:'' }}">

            <button class=" d-flex align-items-center btn btn-outline-primary"
                 type="submit">
                <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff;"></i></button>
        </form>
    </div>
</div>
<div class="row  my-5 pt-2 global-papa w-100 mx-auto " data-masonry='{"percentPosition": true }'
    style="margin-left: -0.5rem; margin-right: -0.5rem;">
    {% for photo in photos %}
    {% if photo.publicAccess %}
    <a class="col-6 col-sm-4 col-md-3 col-lg-2 my-2  global-item" href="{% url 'photo' photo.id %}" hx-boost="fadeIn">
        <div class="card ">
            {% if photo.image_type == "gif" %}
            <img src="{{ photo.image.url}}" class="card-img-top" alt="...">
            {% else %}
            <img src="{{ photo.image.url|cloudinary_thumbnail }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="overlay d-flex justify-content-around align-items-center"
                style="background: rgba(0, 0, 0, 0.4);">
                <h6 class="card-title w-50">{{ photo.category }}</h6>
                <div class="d-flex justify-content-center align-items-center w-50">
                    <i class="px-2 fa-solid fa-heart" style="color: #ff0000;"></i>
                    <span>{{photo.likes.count}}</span>
                </div>
            </div>
        </div>
    </a>

    {% endif %}
    {% empty %}
    <h3 class="text-center mt-5">No Photos yet..</h3>
    {% endfor%}
    
    <div class="d-flex justify-content-center pb-5"
        hx-get="{% if searchTerm %}{% url 'global' %}?searchImage={{searchTerm}}&page={{page|add:1}}{% else %}{% url 'global' %}?page={{page|add:1}}{% endif %}"
        hx-trigger="revealed" hx-target="this" hx-swap="outerHTML">
        <div class="spinner-border " role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>



{% endblock global %}