{% load static %}
{% for photo in photos%}
<a class="col-6 col-sm-4 col-md-3 col-lg-2 my-2" href="{% url 'photo' photo.id %}">
  <div class="card ">
    <span class="photo-id" style="display: none;" data-id="{{ photo.id }}"></span>
    <img src="{{photo.image.url}}" class="card-img-top" alt="...">
    <div class="overlay d-flex justify-content-around align-items-center" style="background: rgba(0, 0, 0, 0.4);">
      <h6 class="card-title w-50">{{ photo.category }}</h6>
      <div class="d-flex justify-content-center align-items-center w-50">
        <i class="px-2 fa-solid fa-heart" style="color: #ff0000;"></i>
        <span>{{photo.likes.count}}</span>
        <input type="checkbox" name="select" id="" class="photo-checkbox"
          style="position: absolute;top: 8px;right: 8px; width: 20px;height: 20px;" onclick="handleSideNav()">
      </div>
    </div>
  </div>
</a>
{% empty %}
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <h2 class=" text-center">Welcome to <strong style="color:#FED17E">Photo</strong> <strong
      style="color: #99D1C9;">Booth</strong></h2>
  <h6 class="text-center ">Start Uploading image to your booth now!! Just click Add</h6>
  <div class="x">
    <img style="width: 300px; height: 300px;" src="{% static 'photos/icons/gallery_logo_svg.svg'%}" alt="X">
  </div>

</div>

{% endfor%}
<div class="d-flex justify-content-center pb-5" hx-get="{% if searchTerm %}
    {% url 'gallery' %}
    ?searchImage={{ searchTerm }}&page={{ page|add:1 }}
  {% elif category %}
    {% url 'gallery' %}
    ?category={{ category }}&page={{ page|add:1 }}
  {% else %}
    {% url 'gallery' %}
    ?page={{ page|add:1 }}
  {% endif %}" hx-trigger="revealed" hx-target="this" hx-swap="outerHTML" hx-trigger="htmx:afterSwap">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>