{% load static %}
{% for photo in photos %}
{% if photo.publicAccess %}
<a class="col-6 col-sm-4 col-md-3 col-lg-2 my-2 global-item" href="{% url 'photo' photo.id %}" hx-boost="fadeIn">
    <div class="card ">
        <img src="{{photo.image.url}}" class="card-img-top" alt="...">
        <div class="overlay d-flex justify-content-around align-items-center"
            style="background: rgba(0, 0, 0, 0.4);">
            <h6 class="card-title w-50">{{ photo.category }}</h6>
            <div class="d-flex justify-content-center align-items-center w-50">
                <i class="px-2 fa-solid fa-heart" style="color: #ff0000;"></i>
                <span>{{photo.likes.count}}</span>
            </div>
        </div>
    </div>
</a>

{% endif %}
{% empty %}
<h3>No Photos yet..</h3>
{% endfor%}

<div class="d-flex justify-content-center pb-5" hx-get="{% url 'photo' photo.id %}?page={{ page|add:1 }}" hx-trigger="revealed" hx-target="this" hx-swap="outerHTML">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
