{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="photo-wrapper d-flex justify-content-evenly" style='height:100% ;width:100%'>
    {% if photo.publicAccess %}
    <div class="main-photo" style="height: 100%; width:65%">
        <div style="height: 90%; position: relative; width: 100%;">

            <div class="imghere d-flex align-content-center justify-content-center"
                style="height: 100%; width: 100%;flex-wrap: wrap;">

                <img style="width: fit-content; height: 100%;border-radius: 20%;" src="{{photo.image.url}}"
                    class="card-img-top img-fluid rounded" alt="...">

            </div>

        </div>

        <div style="height: 5%;">
            <div class="photo-info d-flex justify-content-between ps-5 pe-5 pt-2" style="font-size: 1.1vw;">
                <div class="cat">
                    Category:{{photo.category}}
                </div>
                {%if photo.user == request.user %}
                <a type="button" name="edit-info-btn" href="{% url 'edit' photo.id %}"
                    style="border: none; background:transparent;color: #000;">Edit
                    <i class="fa-solid fa-pen-to-square fa-xl ms-2" style="color: #005eff;"></i>
                </a>
                {%endif%}
                <div class="date">
                    {{photo.upload_datetime}}
                </div>
            </div>
        </div>
    </div>
    <div class="user-interact d-flex justify-content-between align-items-center flex-column ms-2"
        style="height: 100%; width: 30%; border: 1px solid gray; border-radius: 16px;">
        <div class="desc_name p-2" style="height:80%; width: 100%;  overflow: hidden;">

            <div class="user-info d-flex justify-content-start align-items-center mb-2">
                <a href="{% url 'view_profile' photo.user.username %}">
                    <div class="image-pfp mt-3 ms-3"
                        style="width: 50px; height: 50px; overflow: hidden; border-radius: 50%;">
                        {% if photo.user.pfp.url is not None %}
                        <img class="rounded user-pfp" alt="X" src="{{photo.user.pfp.url}}"
                            style="width: 100%; height: 100%; object-fit: cover;object-position: center;">
                        {%else%}
                        <img class="rounded user-pfp2" alt="X"
                            src="https://api.dicebear.com/7.x/adventurer/svg?skinColor=9e5622,763900,ecad80&seed={{photo.user.username}}&"
                            style="width: 100%; height: 100%; object-fit: cover;object-position: center;">
                        {%endif%}
                    </div>
                </a>
                <div class="username ms-3 mt-3" style="color: #FED17E; font-size: 1.1vw;">
                    <strong>{{photo.user}}</strong>
                </div>
            </div>
            <hr>
            <div class="comments mt-2 px-2" style="height: 80%; width: 100%;overflow-y: scroll;">

                <div class="description text-white">
                    <small>Category: {{photo.category}}</small>
                    <p class="text" style="font-family: 'Times New Roman' " , Times, serif;">
                        <strong>Description:</strong>
                        {{photo.description}}
                    </p>
                </div>
                <hr>

                {%for comment in comments%}
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="comment text-black d-flex my-2 px-2" >
                        <a href="{% url 'view_profile' comment.user.username %}">
                            <div class="image-pfp me-3"
                                style="width: 40px; height: 40px; overflow: hidden; border-radius: 50%; background-color: #99D1C9;">
                                {% if comment.user.pfp.url is not None %}
                                <img class="rounded user-pfp" alt="X" src="{{comment.user.pfp.url}}"
                                    style="width: 100%; height: 100%; object-fit: cover;object-position: center;">
                                {%else%}
                                <img class="rounded user-pfp2" alt="X"
                                    src="https://api.dicebear.com/7.x/adventurer/svg?skinColor=9e5622,763900,ecad80&seed={{comment.user.username}}&"
                                    style="width: 100%; height: 100%; object-fit: cover;object-position: center;">
                                {%endif%}
                            </div>
                        </a>
                        <div class="d-flex justify-content-center align-items-center ">
                            <p style="color: white;font-size: 1.1vw; word-wrap: break-word;" class="text-start" ><strong
                                    style="color: #FED17E; font-size: 1.1vw;">{{comment.user}}:</strong>
                                {{comment.text}}</p>
                        </div>
                    </div>
                    {%if request.user == comment.user %}
                    <a href="{% url 'delete_comment' comment.id %}" style="cursor: pointer;"> <i
                            class="fa-solid fa-trash fa-sm" style="color: #ff4747;"></i></a>
                    {%endif%}
                </div>
                {%endfor%}
                {% if comments|length == 0 %}
                <h4>No comments yet...</h4>
                {%endif%}
            </div>
        </div>

        <div class="interact d-flex flex-column p-2" style="height:20%;width: 100%;">
            <div class="interact-buttons mt-3 d-flex justify-content-evenly align-items-center" style="height: 50%;">
                <form action="{% url 'like_photo' photo.id %}" method="post">
                    {% csrf_token %}
                    <span class="text-white">{{photo.likes.count}}</span>
                    <button type="submit" class="like-button">
                        {% if request.user in photo.likes.all %}
                        <i class="fa-solid fa-thumbs-up" style="color: #FED17E;"></i>
                        {%else%}
                        <i class="fa-regular fa-thumbs-up" style="color: white;"></i>
                        {% endif %}
                    </button>
                </form>

                <div class="comms">
                    <span class="text-white">{{photo.comments.count}}</span>
                    <button type="submit" class="comment-button">
                        <i class="fa-regular fa-comment" aria-hidden="true" style="color: white;"></i>
                    </button>
                </div>
                <button class="share-button text-white"> <i class="fa fa-share" aria-hidden="true"></i>
                </button>
                <a href="{% url 'download' photo.id %}" class="save-button text-white"> <i class="fa fa-download"
                        aria-hidden="true"></i></a>

            </div>
            <hr>
            <div class="comment-div ms-1" style="height:50%;width: 100%;">
                <form class="d-flex" action="{% url 'comment_photo' photo.id %}" class="comment-form mb-3"
                    style="height: 100%; width: 100%;" method="post">
                    {% csrf_token%}
                    <input autocomplete="off" type="text" name="text" placeholder="Add a comment..."
                        class="comment-input  mb-2 me-2" required
                        style="background:transparent; outline: none; color: rgb(255, 255, 255); caret-color: white;">
                    <button type="submit" class="comment-submit btn  mb-2 me-2 "
                        style="background-color: #4E576F; color: white;">Post</button>
                </form>
            </div>
            <script>
                const inputElement = document.querySelector('.comment-input');
                const buttonElement = document.querySelector('.comment-button');
                buttonElement.addEventListener('click', function () {
                    inputElement.focus();
                })
            </script>
        </div>



    </div>
    {% else %}
    <div class="main-photo mt-2" style="height: 100%; width:70%">

        <div style="height: 90%; position: relative;">
            <img style="width: 100%; height: 100%;" src="{{photo.image.url}}" class="card-img-top img-fluid rounded"
                alt="...">
        </div>
        <div style="height: 5%;" class="d-flex justify-content-center align-items-center">
            {%if photo.user == request.user %}
            <a type="button" name="edit-info-btn" href="{% url 'edit' photo.id %}"
                style="border: none; background:transparent;color: #000;">Edit
                <i class="fa-solid fa-pen-to-square fa-xl ms-2" style="color: #005eff;"></i>
            </a>
            {%endif%}
        </div>
    </div>
    <div class="d-flex justify-content-lg-start align-items-center">

        <div class="user-interact d-flex justify-content-start flex-column m-2 p-3"
            style="height: fit-content; width: 100%; border: 1px solid black; border-radius: 16px;">
            <h2>Photo Details</h2>
            <ul class="justify-content-start">
                <li>Name : </li>
                <li>Category: {{photo.category}} </li>
                <li>Date: {{photo.upload_datetime}} </li>
                <li>Status: Private</li>
                <li>
                    <p>Description: {{photo.description}}</p>
                </li>

            </ul>
        </div>
    </div>
    {%endif%}

</div>
</div>
{% endblock content %}