.image-thumbnail {
    height: 200px;
    width: 100%;
    object-fit: fill !important;
}

.global-image {
    /* height: 300px; */
    width: 100%;
    object-fit: fill;
}

.search-ham {
    position: sticky;
    top: 78px;
    z-index: 1000;
}


.global-search-ham {
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: var(--navbar-bg);
    color: var(--text-color);
    z-index: 100;
    width: calc(100% - 80px) !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-bottom: 1px solid var(--sidebar-border);
}

.searchdiv {
    /* width: 50% !important; */
    border-radius: 0px 0px 16px 16px;
}



.global-search {
    width: 80%;
}

.navbar {
    --bs-navbar-padding-y: 0.6rem !important;
}

.sticky-background {
    background-color: var(--navbar-bg);
}

@media screen and (max-width: 992px) {

    .photo-wrapper {
        flex-direction: column !important;
    }

    .sidenav {
        display: block !important;
    }


    .search-ham {
        justify-content: space-between !important;
    }

    .hamburger {
        display: flex !important;
    }

    .middle {
        width: 100% !important;
    }

    .global-search {
        width: 60% !important;
    }

    .searchdiv {
        width: 80% !important;
    }

    .mob-sel {
        display: flex !important;
    }

    .editor {
        flex-direction: column !important;
    }

}

.optionBtn{
    border: 1px solid var(--text-color);
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--text-color);
}
.optionBtn.active {
    background-color:var(--bg-color) !important;
    color: var(--text-color)!important;
    
}


@media screen and (max-width: 786px) {
    .pfp {
        height: 75px !important;
        width: 75px !important;
    }

    .options {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .Firstname,
    .username {
        margin-top: 3% !important;
        font-size: 4vw !important;
        text-align: center;
    }

    .userbio {
        padding: 0% !important;
        flex-direction: column !important;
    }

    .view-profile {
        width: 85% !important;
    }

    .form_container {
        width: 85% !important;
    }

    .edit-btn {
        width: 40% !important;
    }

    .addcard {
        width: 75% !important;
    }

    .left {
        width: calc(100% - 50px) !important;
    }

    .global-search-ham {
        width: calc(100% - 50px) !important;
    }

    .right {
        width: 50px !important;
    }

    .right-side-nav {
        margin-right: 50px !important;
    }

    .logo {
        width: 35px !important;
        height: 35px !important;
    }

    .comment-div {
        width: calc(100% - 50px) !important;
    }

}

@media screen and (max-width: 1366px) and (min-width: 768px) {
    .col-lg-2 {
        width: 25% !important;
    }
}

@media screen and (max-width: 768px) and (min-width:425px) {
    .col-lg-2 {
        width: 33% !important;
    }
}

@media screen and (max-width: 425px) {
    .col-lg-2 {
        width: 50% !important;
    }

    .card .wrapper {
        height: 170px !important;
    }

    .search-ham {
        justify-content: space-around !important;
    }

    .hamburger {
        font-size: 3.5vw !important;
    }
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--navbar-bg);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    /* padding: 5% 5% 5% 5%; */
    text-decoration: none;
    /* font-size: 25px; */
    color: var(--text-color);
    display: block;
    transition: 0.3s;
}


@media screen and (max-height: 450px) {
   
    .sidenav a {
        font-size: 18px;
    }
}


.mob-sel {
    border-radius: 16px;
}
#selectAllButton{
    border:  1px solid var(--sidebar-border);
    color: var(--text-color);
    border-radius: 4px;
    
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.card:hover .overlay {
    opacity: 1;
}

.right-side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    margin-right: 80px;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--navbar-bg);
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
}

.right-side-nav a {
    padding: 5% 5% 5% 5%;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
}

.list-group {
    --bs-list-group-bg: var(--navbar-bg) !important;
}


.modal-backdrop {
    z-index: -1 !important;
}

.global-photo {
    --bs-gutter-x: 0;
}

.comments {
    width: 100%;
    overflow: auto;
    color: var(--text-color);
    max-height: 80%;
    border-radius: 16px;
}

.comments:hover {
    overscroll-behavior: contain;
}

.comment-input {
    width: 80%;
    color: var(--text-color);
    border: none;
    overflow: hidden;
}

.card-img-top {
    object-fit: contain;
}

input:focus {
    outline: none !important;
}


.comment-submit {
background-color: var(--accent-color) !important;
}

.user-info {
    height: 10%;
}

.like-button,
.comment-button,
.share-button,
.save-button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.2vw;
}

.fade-me-in.htmx-settling {
    opacity: 0;
}

.fade-me-in {
    opacity: 1;
    transition: opacity 1s ease-out;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.top {
    --offset: 50px;
    position: sticky;
    left: 100%;
    bottom: 20px;
    margin-right: 10px;
    width: fit-content;
    margin-top: calc(100vh + var(--offset));

    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: var(--text-color);
    background: var(--navbar-bg);
    border-radius: 100px;
    white-space: nowrap;
}


.left {
    width: calc(100% - 80px);
    height: 100%;
}

.right {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 9999 !important;
    top: 0;
    right: 0;
    background: var(--navbar-bg);
    border-left: 1px solid var(--sidebar-border);
    transition: background-color 0.3s ease-in-out;
}

.root {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item {
    width: 50px;
}

.logo {
    height: 45px;
    width: 45px;
}

.item :hover {
    transform: scale(1.1);
    color: var(--bg-color) !important;
}

.item::after {
    content: attr(data-tooltip);
    /* Dynamically pulls the tooltip text from the data-tooltip attribute */
    position: absolute;
    /* top: 50%; */
    right: 100%;
    /* Position it to the left of the item */
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.item:hover::after {
    opacity: 1;
    visibility: visible;
}


.navbar-collapse {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    /* padding-top: 20px; */
}

.navbar-nav {
    width: 100%;
}

.dropdown-item:hover {
    transform: none !important;
    color: black !important;
    background-color: transparent !important;

}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#myImg {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 96%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.user-interact {
    background-color: var(--box-bg);
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.interact-buttons{
    color: var(--text-color);

}
.main-photo {
    background-color: var(--box-bg);
    border-radius: 16px;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.list-group-item.active {
    border-radius: 16px;
    border-color: transparent !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.list-group-item {
    color: var(--text-color);
    border-radius: 16px;
    border: none !important;
}

.list-group-item:hover {
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.addcard{
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--box-bg) !important;
    color: var(--text-color) !important;
}
.addcard .input_label{
    color: var(--text-color) !important;
}
.submitBtn{
    background-color: var(--accent-color);
    color: white;
    border-radius: 4px;
;
    border: 1px solid transparent;
}

.view-profile{
    background-color: var(--box-bg);
    color: var(--text-color);
}
.edit-btn{
    background-color: var(--accent-color) !important;
    border-radius: 4px;
}